
<p>
  <b>Forum replied by:</b>
  <%= comment.user.username %>
</p>

<p>
  <b>Add to Forum:</b>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
