<div class='empty-black'></div>

<div class='main'>

  <h2><%= @user.username %></h2>
  <p><%= image_tag(@user.avatar, :class => 'doc_img') if @user.avatar %></p>
  <p><%= @user.email if @user.email %></p>

</div>
