<div class="users_show">
  <p><%= @user.username %></p>
  <p><%= image_tag(@user.avatar, :class => 'medium') if @user.avatar %></p>
  <p><%= @user.email if @user.email %></p>
</div><!-- users_show_div -->