<br><br><br><br>

<h2>Documents</h2>

<ul>

  <% @documents.each do |document| %>
    <li><%= link_to(document.title, document_path(document, :page => document.id)) %></li>
  <% end %>
</ul>
<% if @current_user %>
  <%= link_to('Create New Document', new_document_path) %>
<% end %>
<!-- Essentially, this will be an each loop going through all the documents and listing them by their titles -->

