<br><br><br><br>

<h2>Documents</h2>

<% if @current_user && @current_user.is_admin? %>
  <%= link_to('Create Document', new_document_path) %>
<% end %>

<%= form_tag(documents_path, :method => "get") do %>
  <%= text_field_tag :search, params[:search_doc], :placeholder => "Search Documents" %>
<% end %>


<% @all_documents.each do |document| %>
  <li><%= link_to(document.title, document_path(document, :page => document.id)) %></li>
<% end %>