<h4>FORUM</h4>

<%= form_tag(posts_path, :method => "get", :class => "navbar-form", :id => "search-form") do %>
  <%= text_field_tag :search, params[:search], :placeholder => "Search Articles" %>
<% end %>

<%= link_to('View Forum', posts_path) %>