<div class='front-page' id='about-page'></div>

<div class='main'>

  <h2>About Us</h2>

  <h3>Our purpose: committed to building a better working world</h3>

  <p>
    At EY, we are committed to building a better working world — with increased trust and confidence in business, sustainable growth, development of talent in all its forms, and greater collaboration. We want to build a better working world through our own actions and by engaging with like-minded organisations and individuals. This is our purpose — and why we exist as an organisation.
  </p>

  <p>
    Running through our organisation is a strong sense of obligation to serve a number of different stakeholders who count on us to deliver quality and excellence in everything we do. We want to use our global reach and scale to convene the conversation about the challenges facing economies and the capital markets.
  </p>

  <br>

  <p>
    When business works better, the world works better.
  </p>

  <p>
    Learn more about our commitment to building a better working world.
  </p>

</div>