<!-- html form for About Us -->

<div class='front-page' id='about-page'></div>

<div class='main'>

  <h2>About Us</h2>

  <h3>Our purpose: committed to building a better working world</h3>

  <p>
   M.P. Boiteau “Success hinges on consistency of leadership, focus, execution, and most importantly, great products and services.We are in a multi-year journey to grow Enterprise, and we have put in place a plan to further our development. We know where we need to go, and we're making progress.We continue to drive product innovation in our core markets, with a focus on new technologies and emerging markets. We see big opportunities ahead, and we are well positioned to take advantage of these opportunities with our remarkable set of assets and strengths. We have the people, the plan, and the foundation in place to help us succeed on the next phase of the journey.”
  </p>
  <br>

  <p>
    When business works better, the world works better.
  </p>

  <p>
    Creating a better future for everyone through our actions and innovations.
  </p>

</div>