<!-- HTML form for Contact Us, including an embedded google map -->

<div class='front-page' id='contact-page'></div>

<div class='main'>

  <h2>Contact Us</h2>

  <p>
    Bush Avenue<br>
    Mulberry Park<br>
    61 3 9876 5432<br>
    <a href='mailto:contact@au.enterprise.com'>contact@au.enterprise.com</a>
  </p>

  <iframe
    width="300"
    height="300"
    frameborder="0" style="border:1px solid black"
    src="<%= "https://www.google.com/maps/embed/v1/search?key=AIzaSyDzMn29qnBUFN4FUuepeyzhSbQo1J9lkvo&q=Sydney" %>">
  </iframe>

</div>