<div class='front-page' id='employees-page'></div>

<div class='main'>

  <h2>Employees</h2>

  <div class='content'>
    <div class='profile'>
      <img style='float: left;' src='/assets/head_wendy.jpg'>
      <h3>Wendy Quek</h3>
      <p>
        <strong>CEO</strong><br>
        She's the boss.
      </p>
    </div>

    <div class='profile'>
      <img style='float: left;' src='/assets/head_david.jpg'>
      <h3>David Mesaros</h3>
      <p>
        <strong>CFO</strong><br>
        He likes hobos.
      </p>
    </div>

    <div class='profile'>
      <img style='float: left;' src='/assets/head_terry.jpg'>
      <h3>Terry Something</h3>
      <p>
        <strong>Janitor</strong><br>
        He likes short shorts.
      </p>
    </div>

    <div class='profile'>
      <img style='float: left;' src='/assets/head_yuko.jpg'>
      <h3>Yuko Sugiyama</h3>
      <p>
        <strong>CTO</strong><br>
        She's the tech lady.
      </p>
    </div>
  </div>

</div>