<div class='front-page' id='home-page'></div>

<div class='intro'>
<br><br>
  <h2>Enterprise (International) Limited</h2>
  <h3>Creating a better future for everyone through our actions and innovations</h3>
</div>


<div class='content-boxes'>
  <h2>Our latest projects</h2>

  <%= link_to 'http://rodger.herokuapp.com' do %>
    <div class='box' id='box1'>
      <div class='blackbox'>
        <h3>Rodger</h3>
      </div>
    </div>
  <% end %>
  <%= link_to 'http://project1master0114.ninefold-apps.com' do %>
    <div class='box' id='box2'>
      <div class='blackbox2'>
        <h3>GPDB</h3>
      </div>
    </div>
  <% end %>
  <%= link_to 'http://mixandmatchz.herokuapp.com/' do %>
    <div class='box' id='box3'>
      <div class='blackbox3'>
        <h3>Mix & Match</h3>
      </div>
    </div>
  <% end %>
  <%= link_to 'http://levelr.herokuapp.com/' do %>
    <div class='box' id='box4'>
      <div class='blackbox4'>
        <h3>Levelr</h3>
      </div>
    </div>
  <% end %>
</div>



