<div class='front-page' id='home-page'></div>

<div class='intro'>
  <h2>Enterprise (International) Limited</h2>
  <h3>December 2013 edition</h3><br>
  <p>Ernst and Young is a multinational professional services firm headquartered in London, United Kingdom. It was the third largest professional services firm in the world by aggregated revenue in 2012 and is one of the "Big Four" audit firms.</p>
  <p>Founded by Arthur Young in 1849</p>
</div>


<div class='content-boxes'>
  <h2>Quick Links</h2>
  <%= link_to root_path do %>
    <div class='box' id='box1'><h3>Corporate Information</h3></div>
  <% end %>
  <%= link_to root_path do %>
    <div class='box' id='box2'><h3>Directors' Report</h3></div>
  <% end %>
  <%= link_to root_path do %>
    <div class='box' id='box3'><h3>Financial Statements</h3></div>
  <% end %>
  <%= link_to root_path do %>
    <div class='box' id='box4'><h3>Appendix</h3></div>
  <% end %>
</div>