<div class='front-page' id='home-page'></div>

<div class='intro'>
<br><br>
  <h2>Enterprise (International) Limited</h2>
  <h3>Creating a better future for everyone through our actions and innovations</h3>
</div>


<div class='content-boxes'>
  <h2>Our latest projects</h2>
  <%= link_to root_path do %>
    <!-- <div class='box' id='box1'><h3></h3></div> -->
  <% end %>
  <%= link_to root_path do %>
    <div class='box' id='box2'><h3></h3></div>
  <% end %>
  <%= link_to root_path do %>
    <div class='box' id='box3'><h3></h3></div>
  <% end %>
  <%= link_to root_path do %>
    <div class='box' id='box4'><h3></h3></div>
  <% end %>
</div>