/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


#container {
  min-height: 560px;
  margin: auto;
  // text-align: center;
}

header {
  position: fixed;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
}

nav li {
  display: inline-block;
  width: 160px;
  border-left: 1px solid #888;
}

#final-link {
  border-right: 1px solid #888;
}

nav ul h1 {
  text-align: left;
  width: 320px;
  display: inline-block;
}

#hamburger {
  z-index: 3;
  position: fixed;
  background-image: url('http://selfservice.dstv.com/images/menu-icon.png');
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

#side-menu {
  display: none;
  position: fixed;
  height: 1080px;
  width: 240px;
  background-color: rgba(0, 0, 0, 1);
  text-align: left;
}

p {
  margin: auto;
}

.main {
  max-width: 960px;
  margin: auto;
}

footer {
  background-color: white;
  bottom: 0;
  left: 0;
  height: 160px;
  margin: 1em auto;
  max-width: 960px;
  border-top: 1px solid grey;
}

footer li {
  display: inline-block;
}

.empty-black {
  height: 100px;
  background-color: black;
}

.document-form label {
  width: 200px;
}

.post-form label {
  width: 50px;
}

.highlight {
  background-color: grey;
}