// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doc_img {
  max-width: 640px;
  max-height: 640px;
  border: 1px solid black;
  object-fit: cover;
  margin: 0.25em;
}
