.front-page {
  background-size: cover;
  width: 100%;
}

#home-page {
  background-image: image-url('front_home.png');
}

#about-page {
  background-image: image-url('front_about.jpg');
}

#contact-page {
  background-image: image-url('front_contact.jpg');
}

#employees-page {
  background-image: image-url('front_employees.jpg');
}

#info-page {
  background-image: image-url('front_info.jpg');
}

.intro {
  height: 240px;
  background-color: black;
  padding: 2em;
  color: white;
  padding: 2em;
  text-align: center;
}

.intro > h2, h3, h4, p {
  max-width: 960px;
  margin: auto;
  line-height: 2em;
}

p {
  margin: auto;
}

.content-boxes {
  width: 960px;
  margin: auto;
  padding: 2em;
  text-align : center;
}

.box {
  text-align: center;
  height: 240px;
  width: 380px;
  /*border-radius:100%;*/
  margin: 1em;
  display: inline-block;
  /*border: 2px solid black;*/
  background-size: cover;
  line-height: 240px;
  position: relative;
  /*z-index: -1;*/

  
}

.blackbox, .blackbox2, .blackbox3, .blackbox4{
  text-align: center;
  height: 240px;
  width: 380px;
  /*border-radius:100%;*/
  margin: 1em;
  /*display: inline-block;*/
  /*border: 2px solid black;*/
  /*background-size: cover;*/
  line-height: 240px;
  background-color: black;
  display: none;
  opacity: 0.5;
  margin: -0px;
 /* z-index: -1;*/
  

}

span{
  position: absolute;
 
  
}

.span{
  font-size: 24px;
  margin: -50px;
  color : white;
  /*color: rgba(255,255,255,1); */

}



.box-heading {
  display: inline-block;
}

#box1 {
  background-image: image-url('project_matrix.jpg');

}

.div{
  display: none;
  
}

#box2 {
  background-image: image-url('project_phosphorus.jpg');
}

#box3 {
  background-image: image-url('project_moo.jpg');
}

#box4 {
  background-image: image-url('project_rebuild.jpg');
}

.row {
  text-align: center;
}

.profile {
  display: inline-block;
  margin: 0.5em;
  text-align: center;
}

.profile > img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 100%;
  text-align: center;
  margin: auto;
}

.content {
  max-width: 960px;
}