.front-page {
  background-size: cover;
  width: 100%;
}

#home-page {
  background-image: image-url('front_home.png');
}

#about-page {
  background-image: image-url('front_about.jpg');
}

#contact-page {
  background-image: image-url('front_contact.jpg');
}

#employees-page {
  background-image: image-url('front_employees.jpg');
}

#info-page {
  background-image: image-url('front_info.jpg');
}

.intro {
  height: 360px;
  background-color: black;
  padding: 2em;
  color: white;
  padding: 2em;
}

.intro > h2, h3, h4, p {
  max-width: 960px;
  margin: auto;
  line-height: 2em;
}

p {
  margin: auto;
}

.content-boxes {
  width: 960px;
  margin: auto;
  padding: 2em;
}

.box {
  text-align: center;
  height: 240px;
  width: 360px;
  margin: 1em;
  display: inline-block;
  border: 2px solid black;
  background-size: cover;
  line-height: 240px;
}

.box-heading {
  display: inline-block;
}

#box1 {
  background-image: image-url('quick_1.png');
}

#box2 {
  background-image: image-url('quick_2.png');
}

#box3 {
  background-image: image-url('quick_3.png');
}

#box4 {
  background-image: image-url('quick_4.png');
}

.profile {
  width: 400px;
  border: 2px solid black;
  display: inline-block;
  margin: 0.5em;
}

.profile > img {
  max-width: 200px;
}

.content {
  max-width: 960px;
  margin: auto;
}